body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

.product {
  display: flex;
  justify-content: center;
}

.product-form {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.image-preview {
  font-weight: bold;
  text-align: center;
  margin: 2%;
}

.product-image-preview {
  margin: 1em;
}

.spacepurple {
  color: #7943e7;
}

.spacegreen {
  color: #296666;
}

.spacepink {
  color: #ff02ff;
}

.spaceblue {
  color: #28ffff;
}

.all-products-header {
  display: flex;
  justify-content: space-between;
}

.spacepink-background-color {
  background-color: #ff02ff !important;
  color: white !important;
}

.spacepink-background-color:hover {
  opacity: 60%;
}

.spacepink-background-color:active {
  opacity: 40%;
}

.product-message {
  max-width: 60%;
}

.list,
.content {
  background-color: transparent !important;
}

.product-form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
