body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

/*
footer
*/
footer-container {
  grid-area: footer;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 5%;
  width: 100%;
}
/*
main page
*/
.product {
  display: flex;
  justify-content: center;
}

.product-form {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.image-preview {
  font-weight: bold;
  text-align: center;
  margin: 2%;
}

.product-image-preview {
  margin: 1em;
}

.spacepurple {
  color: #7943e7;
}

.spacegreen {
  color: #296666;
}

.spacepink {
  color: #ff02ff;
}

.spaceblue {
  color: #28ffff;
}

.all-products-header {
  display: flex;
  justify-content: space-between;
}

.spacepink-background-color {
  background-color: #ff02ff !important;
  color: white !important;
}

.spacepink-background-color:hover {
  opacity: 60%;
}

.spacepink-background-color:active {
  opacity: 40%;
}

/*
*/
/*
cart
*/
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

/* .edit-cart-button-row button {
  max-width: fit-content;
  height: fit-content;
} */

/* .edit-cart-button-row p {
  font-size: 2em;
} */

.list-of-products {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}

.product-in-product-list {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.product-image {
  max-width: 1%;
  max-height: 1%;
}
